.body{
    width: 200px;
    height: 200px;
}
.tester {
    display: block;
    position: absolute;
    font-size: larger;
    color: black;
}

.pop_buttons {
    width: 80px;
    height: 20px;
    background-color: lightblue;
    border: black 1px;
}